* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dateDiv {
  margin-top: 150px;
  font-size: 40px;
  label{
    font-size: 60px;
  }
  margin-left: 30%
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.65em;
}

.basicText {
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.find-a-car {
  margin-left: 35%
}

#next {
  font-size: 60px;
  margin-left: 40%
}

#datePicked {
  font-size: 60px;
  margin-left: 36%
}



#logo {
  float: left;
  width:200px;
  height: 200px;
  margin-top: -65px;
}

.headingSection {
  height: 200px;
  width: 100%
}

.basic-btn-fix {
  font-size: 50px;
}

.card-fix:first-child{
  margin-top: 200px;
}

.card-fix {
  margin-left: 10%;
}

.choosenCar {
  border-color: green;
  border-width: 3px;
}

.myModal {
  width: 80%;
  margin-left: 10%;
}


.progressbar {
  counter-reset: step;
}

.progressbar li{
  list-style: none;
  float: left;
  width: 16.6%;
  position: relative;
  text-align: center;
  font-size: 30px;
}

.progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  top: 25px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.current {
  color: purple;
}

.progressbar li.current:before {
  border-color: purple;
  color: white;
  background-color: purple;
}





.progressbar li.finished {
  color: pink;
}

.progressbar li.finished:before {
  border-color: pink;
  color: white;
  background-color: pink;
}

.progressbar li.finished + li:after {
  background-color: pink;
}

.btn-fix {
  margin-top: 100px;
}




.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-minmax{
  margin-top: 30px;
  // change this for size
  width: 508px;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
  color: black;
  span:first-child{
    margin-left: 10px;
  }
}

.sliderContainer {
  margin-left: -10px;
}

.range-slider {
  // PAGE LOCATION
    margin-top: 15vh;
}

.rs-range {
    margin-top: 29px;
    // ADJUST WHOLE WIDTH
    width: 500px;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        // LINE HIEGHT
        height: 20px;
        cursor: pointer;
        box-shadow: none;
        background: black;
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: black;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid black;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        // KNOB HEIGHT
        height: 60px;
        width: 30px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid black;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}
.rs-label {

    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: -300px;
    box-sizing: border-box;
    border: 10px solid black;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: black;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 60px;
}





#right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 40px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel option {
        font-size: 20px;
      }

      #right-panel i {
        font-size: 20px;
      }
      #map {
        width: 100%;
        height: 600px;
        margin-bottom: -40px;
      }
      #right-panel {
        font-size: 40px;
        margin: 20px;
        border-width: 2px;
        width: 50%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        font-size: 40px;
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
        margin-right: 10px;
        overflow: scroll;
        height: 400px;
      }

#submit {
  font-size: 40px;
}

.heading-fix {
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.card-inner-fix {
  font-size: 40px;
}

.myModal {
  font-size: 30px;
}

.selectCarButton {
  font-size: 40px;
}

.modalHeader-fix {
  font-size: 40px;
}

.costForm {
  font-size: 40px;
  margin-left: 20%;
  margin-top: 200px;
}

.thank-you {
  font-size: 100px;
  margin-left: 25%;
  margin-top: 600px;
}
